/* The css for the home page */
.main {
  display: grid;
  grid-template-columns: 50% 50%;
}
.left {
  margin-left: 5rem;
  margin-top: 4rem;
}
.right {
  justify-content: center;
  display: flex;
  align-items: center;
}
.rightImage {
  width: 30vw;
  border-radius: 3rem;
  border: 3px solid var(--primary-color);
}

.static {
  font-size: 100px;
  color: var(--primary-color);
  font-weight: bold;
  line-height: 0;
  text-transform: capitalize;
}

.dynamic {
  margin: 0;
  padding: 0;
  line-height: 80px;
  height: 90px;
  overflow: hidden;
}
.dynamic li {
  list-style: none;
  font-size: 60px;
  font-weight: 500;
  color: var(--white-color);
  position: relative;
  top: 0;
}
.dynamic li span {
  position: relative;
}
.dynamic li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
  border-left: 2px solid var(--primary-color);
  animation: typing 4s steps(16) infinite;
}
@keyframes typing {
  40%,
  60% {
    left: 100%;
    margin: 5px;
  }
  100% {
    left: 0%;
  }
}
@media screen and (max-width: 768px) {
  .main {
    grid-template-columns: 100vw;
    height: 100%;
  }
  .rightImage {
    width: 50vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
  }
  .dynamic li {
    font-size: 43px;
    line-height: 40px;
  }
}
